.container1 {
  margin: 0 auto;
  position: relative;
  height: 800px;
  width: 800px;
  background-color: red;
}

.greycontainer {
  display: inline-block;
  position: relative;
  height: 430px;
  width: 420px;
  background-color: darkgray;
  top: 10px;
  left: 10px;
  border-radius: 40px;
}

.containerleftside {
  position: relative;
  top: 10px;
  height: 750px;
  width: 500px;
}

.whitecontainer {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 330px;
  background-color: white;
  border-radius: 40px;
  top: 25px;
  left: 45px;
  border-style: solid;
}

.redcircle {
  position: relative;
  top: 10px;
  height: 10px;
  width: 10px;
  background-color: red;
  margin: 0 auto;
  border-radius: 20px;
  border-style: solid;
  border-color: #606060;
  right: 15px;
}

.redcircle2 {
  position: relative;
  top: -3.5px;
  height: 10px;
  width: 10px;
  background-color: red;
  margin: 0 auto;
  border-radius: 15px;
  border-style: solid;
  border-color: #606060;
  left: 25px;
}

.bottomleftcirle {
  position: relative;
  height: 45px;
  width: 45px;
  top: 35px;
  left: 80px;
  background-color: #ff4d4d;
  border-radius: 25px;
  border-style: solid;
  border-color: #606060;
  margin: 0;
}

.blackline {
  position: relative;
  height: 6px;
  width: 55px;
  top: 40px;
  left: 130px;
  background-color: #606060;
}

#line2 {
  position: relative;
  height: 6px;
  width: 55px;
  background-color: #606060;
  left: 0;
  top: -10px;
}

#line3 {
  position: relative;
  height: 6px;
  width: 55px;
  background-color: #606060;
  left: 0;
  top: -10px;
}

#line4 {
  position: relative;
  height: 6px;
  width: 55px;
  background-color: #606060;
  left: 65px;
  top: -6px;
}

#line5 {
  position: relative;
  height: 6px;
  width: 55px;
  background-color: #606060;
  left: 0;
  top: -10px;
}

#line6 {
  position: relative;
  height: 6px;
  width: 55px;
  background-color: #606060;
  left: 0;
  top: -10px;
}

.bluecircle {
  position: relative;
  height: 85px;
  width: 85px;
  background-color: royalblue;
  border-radius: 45px;
  top: 40px;
  left: 20px;
  border-style: solid;
  border-color: #484848;
}

.greenboy {
  position: relative;
  top: -20px;
  height: 16px;
  width: 80px;
  left: 140px;
  background-color: green;
  padding: 1px;
  border-radius: 20px;
  border-style: solid;
  border-color: #484848;
}

.orangeboy {
  position: relative;
  top: -44px;
  height: 16px;
  left: 230px;
  width: 80px;
  background-color: orange;
  border-radius: 20px;
  border-style: solid;
  border-color: #484848;
  padding: 1px;
}

.idcontainer {
  position: relative;
  height: 80px;
  width: 200px;
  left: 130px;
  top: -15px;
  border-radius: 13px;
  background-color: #484848;
  padding: 3px;
}

.whiteid {
  position: relative;
  height: 60px;
  width: 180px;
  top: 10px;
  left: 8px;
  background-color: white;
  border-radius: 12px;
}

.gamepadarrows {
  position: relative;
  float: right;
  height: 40px;
  width: 40px;
  background-color: #484848;
  top: -130px;
  right: 40px;
}

.middlechunck {
  position: inherit;
  height: 40px;
  width: 40px;
  right: 0px;
  top: 40px;
  background-color: #484848;
}

.leftarrow {
  position: inherit;
  height: 40px;
  width: 40px;
  right: 40px;
  background-color: #484848;
}

.rightarrow {
  position: inherit;
  height: 40px;
  width: 40px;
  left: 40px;
  top: -39px;
  background-color: #484848;
}

.bottomarrow {
  position: inherit;
  height: 40px;
  width: 40px;
  left: 0px;
  top: -40px;
  background-color: #484848;
}

#bulb {
  position: relative;
  left: 45px;
  top: 35px;
  height: 200px;
  width: 200px;
}
