#header{
    padding: 200px 200px;
    background-color: white;
    border: 1px solid black;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 100px 100px 300px;   
}
