body,
html {
  margin: 0;
  padding: 0;
}
.container {
  display: inline-block;
  position: relative;
  min-height: 1000px;
  width: 100%;
}

.menu {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: #3b3e4b;
}

.ul {
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  height: 100%;
  left: 620px;
  top: 70px;
}

li {
  list-style: none;
  color: #7f8291;
}

#lis {
  cursor: pointer;
  position: absolute;
  left: 230px;
}

.logo {
  top: 55px;
  left: 340px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 155px;
  height: 50%;
  z-index: 1;
}

.div1 {
  padding-top: 120px;
  height: 600px;
  vertical-align: baseline;
  width: 100%;
  background-color: #9cdcf2;
}

.div2 {
  height: 480px;
  vertical-align: baseline;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 208px;
  margin-right: 208px;
}
.content {
  padding-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
}

.content,
h1,
p {
  text-align: center;
  color: #fff;
}
.orangeBar {
  position: relative;
  vertical-align: baseline;
  height: 98px;
  background: #ee7541;
  cursor: pointer;
}

.whitebackground {
  background: white;
  height: 842px;
  vertical-align: baseline;
  width: 100%;
}

.grey {
  vertical-align: baseline;
  height: 590px;
  background: #f4f4f4;
}

#orangeboi,
h2 {
  padding-top: 33px;
  font-size: 31px;
  text-align: center;
  color: #fff;
  margin: 0;
}

#header1 {
  font-size: 35px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#p1 {
  width: 50%;
  padding-left: 225px;
  line-height: 22pt;
  font-size: 20px;
  word-break: break-all;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.bottomContent {
  top: -12px;
  left: -105px;
  padding-top: 30px;
  position: relative;
  height: 285px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  font: bold;
  padding: 10px 20px 12px 20px;
  display: inline-block;
  border-radius: 0px 10px 0px 10px;
  background: #ee7541;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background-color: grey;
}

.menu {
  position: fixed;
  z-index: 1;
}

#lis:hover,
#li2:hover,
#li3:hover,
#li4:hover,
#li5:hover,
#li6:hover {
  color: #fff;
}

#li2 {
  cursor: pointer;
  position: absolute;
  left: 320px;
}

#li3 {
  cursor: pointer;
  position: absolute;
  left: 399px;
}

#li4 {
  cursor: pointer;
  position: absolute;
  left: 490px;
}

#li5 {
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  left: 560px;
}

#li6 {
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
  left: 660px;
}

#lis,
#li2,
#li3,
#li4,
#li5,
#li6 {
  font-size: 17px;
}
